body{
    font-family:poppins !important;
}

.usual{
    display:flex;
    align-items: center;
    justify-content: center;
}
#hero{
    background-image: url("https://kmct.edu.in/images/kmct/banner.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 38%;
    width: 100%;
    height: 751px;
    opacity: 1;
    visibility: inherit;
}

.hero_text{
    font-size: 72px;
    line-height: 88px;
    font-weight: 700;
    color:white;
}
#hero_discover{
    color:white;
    border:solid 4px #cee000;
    padding: 0.6rem;
    width:12.53%;
}
#hero_discover:hover {
    background-color: #cee000;
}

.floating:hover{
    color: lightblue !important;
}
#tail_last:hover{
    color:rgb(214, 193, 218)
}


@media(max-width:576px){
    #last_last{
        letter-spacing:0 !important;
    }
    .hero_text{
        font-size:2rem !important;
    }

    .campus{
        padding-right:1rem !important;
    }
}

@media(max-width:767px){
    #support_left{
        padding-bottom: 1rem;
    }
    .gallery_images{
        display:flex !important;
        justify-content:center !important;
        align-items: center !important;
    }
    #image_container{
        margin-top:-300px !important;
    }
    #gallery_nil_image_1,#gallery_nil_image_2,#gallery_nil_image_3{
        display:none !important;
    }
    .blue{
        width:87% !important;
    }
    #tail_logo_icons{
        display:none !important;
    }
    #tail_social_media{
        padding-top:1rem !important;
    }
    #tail_logo_icons_modified{
        display:block !important;
    }
    .tail_para_{
        padding-top:2rem !important;
    }
    #tail_para_contact_list{
        padding-left:0rem !important;
    }
}

@media(max-width:992px){
    #support_left{
        padding-bottom: 1rem;
    }
    .gallery_images,.pooladikunnu_images{
        display:flex !important;
        justify-content:center !important;
    }
    #gallery_nil_image_2,#gallery_nil_image_3{
        display:none !important;
    }
    .hero_text{
        font-size:45px;
    }
}

@media (max-width: 1200px){
    #nav_items{
        display:none;
    }
    #nav_logo{
        margin:auto;
        width:170px !important;
    }
}


@media (max-width: 1260px){
    #top_of_nav_bar{
        display:none;
    }
    #sticky_element{
        position:relative !important;
    }
}

